venv
carla/venv36
.python-version
carla/CarlaUE4
carla/Co-Simulation
carla/Engine
carla/HDMaps
carla/Import
carla/Plugins
carla/Tools
carla/*py
carla/*gz

carla/PythonAPI/examples
carla/PythonAPI/util
carla/PythonAPI/tests/_*
carla/PythonAPI/tests/*.h5
carla/PythonAPI/tests/birdview_v2_cache
carla/PythonAPI/tests/training_bird
carla/PythonAPI/tests/training/dataset*
carla/PythonAPI/tests/training/*.png
carla/PythonAPI/tests/training/*.npy
carla/PythonAPI/tests/training/*.h5
carla/PythonAPI/tests/training/logs
carla/PythonAPI/tests/training/array*