venv
carla/venv36
.python-version
carla/CarlaUE4
carla/Datasets
carla/Engine
carla/*py
carla/*egg
carla/PythonAPI/tests/followline_models
carla/PythonAPI/tests/_lidar_output
carla/PythonAPI/tests/_out
carla/PythonAPI/tests/backup
carla/PythonAPI/tests/*.h5
carla/PythonAPI/tests/training/dataset*
carla/PythonAPI/tests/training/logs
carla/PythonAPI/tests/training/*.h5
carla/PythonAPI/tests/training/*.csv
carla/PythonAPI/tests/training/*.png